<openbox_menu>
  <menu id="root-menu" label="Openbox 3">
    <item label="Run Program">
      <action name="Execute">
	<command>
	  gmrun
	</command>
      </action>
    </item>
    <separator/>
    <item label="Terminal">
      <action name="Execute">
	<command>
	  gnome-terminal
	</command>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
	<command>
	  /snacks/bin/firefox
	</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
	<command>
	  nautilus --browser --no-desktop
	</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
	<command>
	  /snacks/bin/vim
	</command>
      </action>
    </item>
    <item label="Media Player">
      <action name="Execute">
	<command>
	  totem
	</command>
      </action>
    </item>
    <item label="Windows remote">
      <action name="Execute">
	<command>
	  /local/bin/windows
	</command>
      </action>
    </item>
    <separator/>
    <menu id="graphics" label="Graphics">
      <item label="KolourPaint">
	<action name="Execute">
	  <command>
	    kolourpaint
	  </command>
	</action>
      </item>
      <item label="Thumb Image Viewer">
	<action name="Execute">
	  <command>
	    gthumb
	  </command>
	</action>
      </item>
      <item label="KColorChooser">
	<action name="Execute">
	  <command>
	    kcolorchooser
	  </command>
	</action>
      </item>
      <item label="KPdf">
	<action name="Execute">
	  <command>
	    kpdf
	  </command>
	</action>
      </item>
      <item label="Take Screenshot">
	<action name="Execute">
	  <command>
	    gnome-screenshot
	  </command>
	</action>
      </item>
    </menu>
    <menu id="multimedia" label="Multimedia">
      <item label="Totem">
	<action name="Execute">
	  <command>
	    totem
	  </command>
	</action>
      </item>
      <item label="Volume Control">
	<action name="Execute">
	  <command>
	    xterm -bg black -fg white -ls -e alsamixer
	  </command>
	</action>
      </item>
    </menu>
    <menu id="office" label="Office">
      <item label="OpenOffice">
	<action name="Execute">
	  <command>
	    openoffice.org
	  </command>
	</action>
      </item>
    </menu>
    <menu id="programming" label="Programming">
      <item label="DrScheme">
	<action name="Execute">
	  <command>
	    drshceme
	  </command>
	</action>
      </item>
      <item label="Cadence">
	<action name="Execute">
	  <command>
	    cadence
	  </command>
	</action>
      </item>
      <item label="logisim">
	<action name="Execute">
	  <command>
	    logisim
	  </command>
	</action>
      </item>
      <item label="Emacs">
	<action name="Execute">
	  <command>
	    /snacks/bin/emacs-newest
	  </command>
	</action>
      </item>
      <item label="Vi IMproved">
	<action name="Execute">
	  <command>
	    vim
	  </command>
	</action>
      </item>
    </menu>
    <separator/>
    <item label="Task Manager">
      <action name="Execute">
	<command>
	  xterm -bg black -fg white -ls -e htop
	</command>
      </action>
    </item>
    <separator/>
    <item label="Exit">
      <action name="Execute">
	<command>
	  ifi-exit
	</command>
      </action>
    </item>
  </menu>
</openbox_menu>
