# Alias file

alias logisim='java -jar ~/Documents/logisim-generic-2.7.1.jar &'
alias sshuio='ssh -YC maximinh@vor.ifi.uio.no'
alias ls='ls -l --color=auto'
alias uioaustur='ssh -YC maximinh@austur.ifi.uio.no'
alias date='while true; do date; echo -ne "\033[1F"; sleep 1; done'
alias ORMlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias ormlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias Ormlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias USB='cd /mnt/usbstick'
alias usb='cd /mnt/usbstick'
alias regina='ssh -YC maximinh@regina.uio.no'
alias rf='ssh -YC rf@login.uio.no'
#alias inf2270='cd ~/Documents/uio/4.semester/inf2270'
#alias inf3400='cd ~/Documents/uio/4.semester/inf3400'
#alias inf1010='cd ~/Documents/uio/2.semester/inf1010'
#alias mat1110='cd ~/Documents/uio/2.semester/mat1110'
alias inf2220='cd ~/Documents/uio/5.semester/inf2220'
alias inf3490='cd ~/Documents/uio/5.semester/inf3490'
alias inf3430='cd ~/Documents/uio/5.semester/inf3430'
alias inf3470='cd ~/Documents/uio/5.semester/inf3470'
alias colemak='setxkbmap us -v colemak'
alias norsk='setxkbmap no'
alias eclim='/usr/lib/eclipse/eclimd'
alias sandra='xfreerdp ~/Documents/RF/regi/sandra.rdp -u maximinh'
alias android-mount='jmtpfs ~/mnt'
alias android-unmount='fusermount -u ~/mnt'
alias cp='rsync -ah --progress'
