# Alias file

alias sshuio='ssh -YC maximinh@vor.ifi.uio.no'
alias ls='ls -h --color=auto'
alias uioaustur='ssh -YC maximinh@austur.ifi.uio.no'
alias ddate='while true; do date; echo -ne "\033[1F"; sleep 1; done'
alias ORMlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias ormlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias Ormlite='wine ~/Desktop/ORMlite/ORMlite/ORMlite.exe &'
alias usb='cd /mnt/usbflash'
alias regina='ssh -YC maximinh@regina.uio.no'
alias rf='ssh -YC rf@login.uio.no'
alias colemak='setxkbmap us -v colemak'
alias norsk='setxkbmap no'
alias eclim='/usr/lib/eclipse/eclimd'
alias sandra='xfreerdp ~/Documents/RF/regi/sandra.rdp -u maximinh'
alias sandra_stor='xfreerdp ~/Documents/RF/regi/sandra_stor.rdp -u maximinh'
alias win='xfreerdp ~/Documents/uio/win.rdp -u maximinh'
alias android-mount='jmtpfs ~/mnt'
alias android-unmount='fusermount -u ~/mnt'
alias stow='stow -d ~/dotfiles'
alias cp='rsync -ah --progress'
alias carola='xfreerdp -u maximinh -d uio -g 1900x1055 carola.uio.no'
alias spagna='xfreerdp -u maximinh -d uio -g 1900x1055 spagna.uio.no'
alias inf1010='cd ~/Documents/uio/2.semester/inf1010'
alias mat1110='cd ~/Documents/uio/2.semester/mat1110'
alias inf1060='cd ~/Documents/uio/3.semester/inf1060'
alias inf2270='cd ~/Documents/uio/4.semester/inf2270'
alias inf3400='cd ~/Documents/uio/4.semester/inf3400'
alias inf2220='cd ~/Documents/uio/5.semester/inf2220'
alias inf3490='cd ~/Documents/uio/5.semester/inf3490'
alias inf3430='cd ~/Documents/uio/5.semester/inf3430'
alias inf3470='cd ~/Documents/uio/5.semester/inf3470'
alias inf1050='cd ~/Documents/uio/6.semester/inf1050'
alias inf3190='cd ~/Documents/uio/6.semester/inf3190'
alias mat1110='cd ~/Documents/uio/6.semester/mat1110'
alias inf4331='cd ~/Documents/uio/7.semester/inf4331'
alias in1020='cd ~/Documents/uio/7.semester/in1020'
alias unik4270='cd ~/Documents/uio/7.semester/unik4270'
alias inf3470='cd ~/Documents/uio/7.semester/inf3470'
alias qemu-mininet='qemu-system-x86_64 -hda ~/Downloads/mininet-vm-x86_64.qcow2 -enable-kvm -m 1024 -net nic -net user,hostfwd=::9001-:22'
alias pull-all='~/git/update-git.sh'

alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias vim='nvim'
alias vi='vim'
alias mutt='cd ~/Documents/attachments && neomutt'
alias vimrc='cd ~/.config/nvim/'

alias regiweb='mount /mnt/regiweb && cd /mnt/regiweb' 
alias USB='mount /mnt/usbflash && cd /mnt/usbflash' 
